Repository hmcts/fact-frontend, pull requests merged in 2022-07, with the labels that each got.

#587 updating frontend dependencies for vulnerability fixes
  .eslintrc.js
  charts/fact-frontend/Chart.yaml
  package.json
  src/main/app.ts
  src/main/modules/appinsights/index.ts
  src/main/modules/helmet/index.ts
  src/main/views/webpack/css.njk
  src/main/views/webpack/js.njk
  yarn.lock
Labels: ns:fact, prd:fact, rel:fact-frontend-pr-587

#586 Fact 1198
  src/main/locales/cy/court-details.json
  src/main/locales/en/court-details.json
  src/main/views/court-details/in-person-court.njk
  src/test/functional/features/court-details.feature
  src/test/functional/steps/court-details.ts
Labels: ns:fact, prd:fact, rel:fact-frontend-pr-586

#596 Update Chart.yaml
  charts/fact-frontend/Chart.yaml
Labels: ns:fact, prd:fact, rel:fact-frontend-pr-596

#598 removing medium vulnerabilities
  package.json
  yarn.lock
Labels: ns:fact, prd:fact, rel:fact-frontend-pr-598
