Repository hmcts/fact-frontend, pull requests merged in 2024-02, with the labels that each got.

#750 FACT-1592 frontend fortify fix
  .yarn/install-state.gz
  charts/fact-frontend/Chart.yaml
  java/build.gradle
  src/main/modules/properties-volume/index.ts
Labels: ns:fact, prd:fact, rel:fact-frontend-pr-750

#754 Update Crown logo
  .pnp.cjs
  .yarn/cache/axios-npm-1.6.5-87404a12d6-e28d67b2d9.zip
  .yarn/cache/axios-npm-1.6.7-d7b9974d1b-87d4d42992.zip
  .yarn/cache/chokidar-npm-3.6.0-3c413a828f-d2f29f4997.zip
  .yarn/cache/govuk-frontend-npm-4.5.0-077ac6cb8b-7a999ffb49.zip
  .yarn/cache/govuk-frontend-npm-4.8.0-48d4f1031d-e255f924f3.zip
  .yarn/install-state.gz
  package.json
  src/main/views/template.njk
  yarn-audit-known-issues
  yarn.lock
Labels: ns:fact, prd:fact, rel:fact-frontend-pr-754

#757 suppress vulnerabilities
  yarn-audit-known-issues
Labels: ns:fact, prd:fact, rel:fact-frontend-pr-757
